body{
    /* background-image:url(https://source.unsplash.com/2We0jzrMLYc/2400x1600) ; */
    background-image: url(/pictures/DSC00099.JPG);
    background-size: cover;
    font-family: Nunito, sans-serif;
    background-position-y: -30vh;
    background-repeat: no-repeat;
}
#banner{
    height: 50vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-align: center;
}
#welcome h1{
    font-size: 3em;
}
#welcome p{
    font-size:2em;
    color:rgba(255,255,255,.9);
}

main{
    background-color:white;
    height: 100%;
}
.card{
box-shadow: 0px 0px 10px;
}